# directory: "/home/mfourmy/Documents/calibration_cam/calibration_eye_in_hand_alot_sucess"
# result_directory: "/home/mfourmy/Documents/calibration_cam/calibration_eye_in_hand_alot_sucess/results"

# directory: "/home/mfourmy/Documents/calibration_cam/calibrate_images12-05-2023-16_48"
# result_directory: "/home/mfourmy/Documents/calibration_cam/calibrate_images12-05-2023-16_48/results"

directory: "/home/bagr/ws_moveit/src/calibration_eyeinhand_ros_pkg/calibration/calibration_d455_high_res_2"
result_directory: "/home/bagr/ws_moveit/src/calibration_eyeinhand_ros_pkg/calibration_results"

#directory: "/home/mfourmy/Documents/calibration_cam/calibration_eye_in_hand_30"
#result_directory: "/home/mfourmy/Documents/calibration_cam/calibration_eye_in_hand_30/results"

# Remove some images if they seem to be outliers
#image_names_ignored: []
#image_names_ignored: ['calibration_image_030',
#                      'calibration_image_031',
#                      'calibration_image_032',
#                      'calibration_image_033',
#                      'calibration_image_034',
#                      'calibration_image_035',
#                      'calibration_image_036',
#                      'calibration_image_037',
#                      'calibration_image_038',
#                      'calibration_image_043',
#                      'calibration_image_046',
#                      'calibration_image_047',
#                      'calibration_image_048',
#                      'calibration_image_049']  # example
#image_names_ignored: ['calibration_image_014', 'calibration_image_018']  # example
image_names_ignored: ['calibration_image_037', 'calibration_image_038']  # example
#image_names_ignored: ['calibration_image_000', 'calibration_image_006', 'calibration_image_010', 'calibration_image_011', 'calibration_image_013', 'calibration_image_017', 'calibration_image_019', 'calibration_image_012', 'calibration_image_014', 'calibration_image_022', 'calibration_image_027']
#image_names_ignored: ['0000', '0006', '0010', '0011', '0013', '0017', '0019', '0012', '0014', '0022', '0027']
#image_names_ignored: ['0002', '0008', '0037', '0038', '0039', '0040', '0041', '0042', '0043', '0044', '0045', '0046', '0047', '0051', '0052', '0053'] #  simulation_final

aruco_dictionary: "DICT_4X4_1000"
board_squaresX: 10
board_squaresY: 14
# board_square_size: 0.0702 #[m]
board_square_size: 0.07 #[m]
board_marker_size: 0.04 #[m]
board_scaling:
    - 1
    - 1

# calibration_method: "CALIB_HAND_EYE_TSAI"
# calibration_method: "CALIB_HAND_EYE_PARK"
# calibration_method: "CALIB_HAND_EYE_HORAUD"
# calibration_method: "CALIB_HAND_EYE_ANDREFF"
calibration_method: "CALIB_HAND_EYE_DANIILIDIS"

use_eye_in_hand_refinement: True

animate: False
# if expe_name empty, create directory based on current time
expe_name: ''
# expe_name: 'fixed_distortion'

result_name: "camera_calibration_result.yaml"
error_scaling_factor: 10
